{#{% extends "@FOSUser/layout_user_form.html.twig" %}#}
{% extends ":accueil:index.html.twig" %}
{% block feuilleStyle%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% block contenu %}
    <div class="donateur-details-content" style="">

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <h3>Veuillez finaliser votre inscription sur notre site.</h3> <hr/>
        {{ form_start(form, {'method': 'post', 'action': path('porteur_register'),'attr': {'class': 'fos_user_registration_register form-horizontal','id':'fos_user_registration_form'}}) }}

        <div class="form-group">

            <label for="full_name" class="col-sm-3 control-label">Nature : </label>
            <div class="col-sm-8">
                {{ form_widget(form.nature,{'attr':{'id': 'adminbundle_porteur_type'}}) }}
            </div>
        </div>
        <div class="form-group">

            <label for="full_name" class="col-sm-3 control-label">Raison sociale : </label>
            <div class="col-sm-8">
                {{ form_widget(form.raisonSociale,{'attr':{'class': 'form-control'}}) }}
            </div>
        </div>
            <div class="row" id="personne">

        <div class="form-group">

            <label for="full_name" class="col-sm-3 control-label">Nom : </label>
            <div class="col-sm-8">
                {{ form_widget(form.nom,{'attr':{'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="full_name" class="col-sm-3 control-label">prenom(s) : </label>
            <div class="col-sm-8">
                {{ form_widget(form.prenom,{'attr':{'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <label for="full_name" class="col-sm-3 control-label">Date de naissance : </label>
            <div class="col-sm-8">
                {{ form_widget(form.dateNaissance,{'attr':{'class': 'form-control datepicker'}}) }}
            </div>
        </div>
        <div class="form-group">
            <label for="full_name" class="col-sm-3 control-label">Lieu de naissance : </label>
            <div class="col-sm-8">
                {{ form_widget(form.lieuNaissance,{'attr':{'class': 'form-control'}}) }}
            </div>
        </div>
            </div>
        <div class="form-group">
            <label for="full_name" class="col-sm-3 control-label">Numero de telephone : </label>
            <div class="col-sm-8">
                {{ form_widget(form.telephone,{'attr':{'class': 'form-control'}}) }}

            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-3 control-label custom-file-label">Photo/logo : </label>
            <div class="col-sm-8 custom-file">
                {{ form_widget(form.imageFile,{'attr':{'class': ' form-control custom-file-input'}}) }}

            </div>
        </div>
        <div class="form-group">
            <label for="full_name" class="col-sm-3 control-label">Envoyer votre CNI : </label>
            <div class="col-sm-8">
                {{ form_widget(form.imageFileCni,{'attr':{'class': 'form-control'}}) }}

            </div>
        </div>
        <div class="form-group">
            <label for="full_name" class="col-sm-3 control-label">Votre pays : </label>
            <div class="col-sm-8">
                {{ form_widget(form.pays,{'attr':{'class': 'form-control'}}) }}

            </div>
        </div>
        <div class="form-group">
            <label for="full_name" class="col-sm-3 control-label">Votre ville : </label>
            <div class="col-sm-8">
                {{ form_widget(form.ville,{'attr':{'class': 'form-control'}}) }}

            </div>
        </div>
        <div class="form-group">
            <label for="full_name" class="col-sm-3 control-label">Votre adresse : </label>
            <div class="col-sm-8">
                {{ form_widget(form.adresse,{'attr':{'class': 'form-control'}}) }}

            </div>
        </div>


        <div class="form-group">
            <label for="full_name" class="col-sm-3 control-label"> Nom utilisateur : </label>

            <div class="col-sm-8">
                {{ form_widget(form.username,{'attr':{'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="full_name" class="col-sm-3 control-label">E-mail: </label>

            <div class="col-sm-8">
                {{ form_widget(form.email,{'attr':{'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="full_name" class="col-sm-3 control-label">Mot de passe: </label>
            <div class="col-sm-8">
                {{ form_widget(form.plainPassword.first,{'attr':{'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="full_name" class="col-sm-3 control-label">Répéter le mot de passe</label>
            <div class="col-sm-8">
                {{ form_widget(form.plainPassword.second,{'attr':{'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn  btn-success">{{ 'registration.submit'|trans }}</button>
            </div>
        </div>


        {{ form_end(form) }}
        </div>
    </div>
    </div>
{% endblock %}
{% block javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"></script>

    <script>
    $(document).ready(function(){
        $('#societe').hide();

        $("#fos_user_registration_form_nature").change(function() {
            if ( $("#fos_user_registration_form_nature").val() == "2"){
                $('#societe').show();

                $('#personne').hide();

            }
            else{
                $('#personne').show();
                $('#societe').hide();

            }
        })

    });

$('.datepicker').datepicker({
    weekStart:1,
    color: 'red'
});
</script>
{% endblock %}