<div class="row" style="margin-top: 42px">
    <div class="col s8 m8 l8">
        <div class="card card-product" data-count="1" style="padding: 25px" style="display: flex;">
            <div class="card-header card-header-image" data-header-animation="true">

                {% for media in projet.media|slice(0,1) %}
                    <img class="img img-soutenir" src="{{ asset ('uploads/admin/images/') }}{{ media.chemin }}">

                {% endfor %}
            </div>
            <div class="card-body">

                <h4 class="card-title">
                    {{ projet.nomProjet }}
                </h4>
                <div class="card-description" style="text-align: justify">
                    {{ projet.descriptionCourteProjet|slice(0,550)|raw }}
                </div>
            </div>
            <div>
                <div>
                    {% set totaldon = 0 %}
                    {% for don in projet.dons %}
                        {% set totaldon =totaldon+ don.montant %}
                    {% endfor %}

                    <p>  OBJECTIF : atteint a {{ ( totaldon / projet.objectif)*100 }}% </p>


                </div>

            </div>
        </div>
    </div>

    <div class="col s4 m4 l4">
        <div class="card " >
            <div class="card-header card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">mail_outline</i>
                </div>

            </div>

            <div class="card-body" style="padding: 35px">
                <h4 class="card-title" style="text-align: center">
                    MA PARTICIPATION
                </h4>
                <div >
                    {{ form_start(form, {attr: {id: form.vars.id}}) }}

                    {{ form_end(form) }}
                </div>
            </div>

        </div>

    </div>

</div>


