<!DOCTYPE html>
<html lang="fr">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Soutenir un projet | Financement participatif </title>
    <!-- Favicons-->
    <link rel="icon" href="../../images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="../../images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->

    {% stylesheets '@ActeurBundle/Resources/views/public/Template/Materialize/css/materialize.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    {% stylesheets '@ActeurBundle/Resources/views/public/Template/Materialize/css/themes/collapsible-menu/style.css'  %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <!-- Custome CSS-->

    {% stylesheets '@ActeurBundle/Resources/views/public/Template/Materialize/css/custom/custom.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->

    {% stylesheets '@ActeurBundle/Resources/views/public/Template/Materialize/vendors/perfect-scrollbar/perfect-scrollbar.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    {#<link href="../../vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">#}
    {% stylesheets '@ActeurBundle/Resources/views/public/Template/Materialize/vendors/flag-icon/css/flag-icon.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    {% block stylesheet %}
    {% endblock %}
</head>

<body>
<!-- Start Page Loading -->
<div id="loader-wrapper">
    {#<div id="loader"></div>#}
    {#<div class="loader-section section-left"></div>#}
    {#<div class="loader-section section-right"></div>#}
</div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START HEADER -->
<header id="header" class="page-topbar">
    <div class="navbar-fixed">
        <nav class="navbar-color gradient-45deg-purple-deep-orange gradient-shadow">

        </nav>
    </div>
</header>
<!-- END HEADER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
            <div class="brand-sidebar">
                <h1 class="logo-wrapper">
                    <a href="index.html" class="brand-logo darken-1">
                        <img src="" alt="">
                        {#<span class="logo-text hide-on-med-and-down">Materialize</span>#}
                    </a>
                    <a href="#" class="navbar-toggler">
                        <i class="material-icons">radio_button_checked</i>
                    </a>
                </h1>
            </div>
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                {% block  menu%}
                {% endblock %}


            </ul>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
            <!--breadcrumbs start-->
            <div id="breadcrumbs-wrapper" style="padding: 15px">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div id="card-alert" class="card-{{ type }}">
                            <div class="card-content black-text">
                                <p> {{ message }}</p>
                            </div>
                            <button type="button" class="close black-text" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <!--breadcrumbs end-->
            <!--start container-->
            <div class="container">
                {% block contenuprincipal %}
                {% endblock %}


            </div>
            <!--end container-->
        </section>
        <!-- END CONTENT -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START RIGHT SIDEBAR NAV-->
        <aside id="right-sidebar-nav">
        </aside>
        <!-- END RIGHT SIDEBAR NAV-->
    </div>
    <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<footer class="page-footer">
</footer>
<!-- END FOOTER -->
<!-- ================================================
      Scripts
================================================ -->
<!-- jQuery Library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{#{% javascripts '@ActeurBundle/Resources/views/public/Template/Materialize/vendors/jquery-3.2.1.min.js' %}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
{#{% endjavascripts %}#}
<!--materialize js-->


{% javascripts '@ActeurBundle/Resources/views/public/Template/Materialize/js/materialize.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<!--scrollbar-->

{% javascripts '@ActeurBundle/Resources/views/public/Template/Materialize/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<!--plugins.js - Some Specific JS codes for Plugin Settings-->

{% javascripts '@ActeurBundle/Resources/views/public/Template/Materialize/js/plugins.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<!--custom-script.js - Add your own theme custom JS-->
{#<script type="text/javascript" src="../../js/custom-script.js"></script>#}
{#{% javascripts '@ActeurBundle/Resources/views/public/Template/Materialize/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
{#{% endjavascripts %}#}
{% block javascript %}
{% endblock %}
</body>

</html>
