
<img width=100 height=100 src="{{ asset('bundles/frontend/img/logo.png') }}">


<p>{{ don.donateur.prenom  }} a soutenu le projet {{ don.projet.nomProjet }} de {{ don.projet.porteur.nom  }} {{ don.projet.porteur.prenom  }} a hauteur de  {{ don.montant|number_format(0, ' ', ' ')  }}</p>

