<div class="row">
    <br/><br/>
    <div class="col s6 m8 l8 offset-s3 offset-l2 offset-m1 margin010">


                <div id="card-alert" class="card green">
                    <ol>
                        <li>
                    <div class="card-content white-text">
                        <p> Veuillez remplir le fournulaire ci-apres pour soumettre votre projets</p>
                    </div>
                        </li>

                        <li>
                            <div class="card-content white-text">
                                <p>  Telecaharger <a href="{{ asset('docs/Canevas_de_Plan_affaire.rtf') }}">  ici </a>le canvenas du plan d'affaire remplissez puis envoyer le nous avec le formulaire</p>
                            </div>
                        </li>
                    </ol>
                </div>

        <br/><br/>
    </div>
<div class="col s6 m8 l8 offset-s3 offset-l2 offset-m1">
    <div class="card-panel">
            <h4 class="header2 " style="text-align: center; font-size: 22px !important;"> Soumettre mon projet </h4>
            <div class="row">
                {{ form_start(form)}}
                {{ form_errors(form) }}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_widget(form.categorie,{'attr':{'id': 'adminbundle_porteur_type'}}) }}

                    </div>
                </div>
                <div class="row">
                    <div class="input-field  col s12">
                        {{ form_label(form.nomProjet) }}
                        <span class="label label-danger"> {{ form_errors(form.nomProjet) }} </span>
                        {{ form_widget(form.nomProjet) }}

                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <div class="row">
                            <div class="col s12 m5 l4">
                                {{ form_label(form.imageFile) }}
                            </div>
                            <div class="col s12 m7 l8">
                                {{ form_widget(form.imageFile,{'attr':{'class':'dropify' }}) }}

                                <span style="color: red; font-size: 12px"> {{ form_errors(form.imageFile) }}    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <div class="row">
                            <div class="col s12 m5 l4">
                                {{ form_label(form.planFile) }}
                            </div>
                            <div class="col s12 m7 l8">
                                {{ form_widget(form.planFile,{'attr':{'class':'dropify' }}) }}
                                <span style="color: red; font-size: 14px"> {{ form_errors(form.planFile) }}    </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

                <div class="row" style="margin-top: 15px">
                    <div class="input-field col s12">
                        {{ form_label(form.descriptionCourteProjet) }}
                        {{ form_widget(form.descriptionCourteProjet,{'attr':{'class': 'materialize-textarea','rows':'5'}}) }}

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.descriptionProjet) }}
                        {{ form_widget(form.descriptionProjet,{'attr':{'class': 'materialize-textarea','rows':'15'}}) }}

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.budgetPropose) }}
                        {{ form_widget(form.budgetPropose) }}

                    </div>
                </div>

                <div class="row">
                    <hr/ >
                    Ajoutez deux photos relatives a votre projets
                    {% for photo in form.media %}
                    <div class="input-field col s12">
                        <div class="row">
                            <div class="col s12 m5 l4">
                                {{ form_label(photo.imageFile) }}
                            </div>
                            <div class="col s12 m7 l8">
                                {{ form_widget(photo.imageFile,{'attr':{'class':'dropify' }}) }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {{ form_widget(form) }}
        {{ form_errors(form) }}
        <div class="row" style="margin-top: 35px">

                <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Soumettre nom projet

                </button>
                {{ form_end(form) }}
        </div>

            </div>

    </div>
</div>
</div>

