
{{ form_start(form) }}

    <div class="row">

            <div class="input-field col s12">

                <div class="form-group">
                    <label for="full_name" class="col-sm-3 control-label">Code de validation : </label>
                    <div class="col-sm-8">
                        {{ form_widget(form.code,{'attr':{'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
    </div>


    <div id="card-alert-error" class="card red text-center" style="margin-top: 15px">
        <div class="card-content white-text">
            <h3 class="label label-danger">ERREUR: Code erronee reverifier le code</h3> <br/>
            <h3 class="label label-info">Veuillez contacter l'equipe ...</h3>
        </div>

    </div>
    <div id="card-alert-succes" class="card green text-center" style="margin-top:  15px">
        <div class="card-content white-text">
            <h4 class="label label-success">FELICITATION : votre code est valide passe a l'etape suivante.</h4>
        </div>

    </div>
    <div id="btn_validation"style="margin: 10px" class="text-center">
        <a href="{{ path('porteur_register') }}">

            <button type="submit" class="btn  btn-success">Etape suivante </button></a>

    </div>
{{ form_end(form) }}

{% block javascript %}

{% javascripts 'bundles/admin/app-assets/js/core/libraries/jquery.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        function remplissage(e, elem){
            e.preventDefault();
            var code = $('#form_code').val();
            // alert(parent.html());

                $.ajax({
                    type: 'get',
                    url: Routing.generate('codeverification', {code: code}),
                    dataType: "json",
                    // data: {
                    //     term: request.term
                    // },
                    function(response){
                        if(response.success){
                            $("#card-alert-succes").show()
                            $("#card-alert-error").hide()
                        }
                        else{
                            $("#card-alert-succes").hide()
                            $("#card-alert-error").show()
                        }
                    },


                })


        }
        function aButtonPressed(){

            var code = $('#form_code').val();

            $.post(
                Routing.generate('codeverification', {code: code}),


                function(response){
                    if(response.success){
                        $("#card-alert-succes").show()
                        $("#btn_validation").show()
                        $("#card-alert-error").hide()
                    }
                    else{
                        $("#card-alert-succes").hide()
                        $("#btn_validation").hide()
                        $("#card-alert-error").show()
                    }
                },
                "json"
            );
        }
        jQuery(document).ready(function() {
            //$("body").delegate("#addItem", "click", addItem)
            // Get the ul that holds the collection of tags
            $("#card-alert-succes").hide()
            $("#btn_validation").hide()
            $("#card-alert-error").hide()
            $('#form_code').on('blur', function(){aButtonPressed();});
            $('#form_code').on('focus', function(){
                $("#card-alert-succes").hide()
                $("#card-alert-error").hide()
                $("#btn_validation").hide()
            });

        });

        function inscription2() {
           $("#form_code").submit()
        }
    </script>

{% endblock %}